<ul id="nav">
   	<li class="current"><a href="#" title="Home">Home</a>   	
      <ul class="sub">
         <li><a href="#" title="Home > Webdesign">Webdesign</a></li>
         <li><a href="#" title="Home > Developement">Development</a></li>
         <li><a href="#" title="Home > Illustration">Illustration</a></li>
         <li><a href="#" title="Home > Search Engine">Search engine</a></li>
         <li><a href="#" title="Home > Wordpress">Wordpress</a></li>
      </ul>
   	</li>
   	
</ul>
<p>&nbsp;</p>
